---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Pages About Takeaki Miyazawa"
	pubDate={new Date('Jun 1 2024')}
>
	<p>
	Takeaki Miyazawa<br/>
	Software Engineer. based in Tokyo, Japan.
	</p>

	<p>
	</p>

	<p>
	</p>

	<p>
	</p>

	<p>
	</p>

</Layout>
