---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Pages About Takeaki Miyazawa"
	pubDate={new Date('Jun 1 2024')}
>
	<p>
	Takeaki Miyazawa<br/>
	Software Engineer. based in Tokyo, Japan.
	</p>

	<h4>Career</h4>
	<strong>2018/04 - Present <a href="https://corp.netprotections.com/en/">Netprotections, inc.</a></strong>

	<p></p>

	<h4>Education</h4>

	<strong>2012/04-2016/03 神戸大学/Kobe University, Japan.</strong><br/>
	国際文化学部/国際文化学士<br/>
	Faculty of Intercultural Studies/Communication and Media Studies/Bachelor(Intercultural Studies)

	<p></p>

	<strong>2016/04-2018/03 東京大学大学院/University of Tokyo, Japan.</strong><br/>
	学際情報学府/社会情報学コース/修士(社会情報学)<br/>
	Graduate School of Interdisciplinary Information Studies/Socio-information and Communication Studies Course/M.A.S.(Socio-information and Communication Studies)<br/>
	SNSが社会・特に政治領域に与える影響について研究しました。<br/>
	修士論文では、SNSを利用する議員にインタビューを行い、議員の視点からのSNSの効用を分析しました。<br/>
	<a href="https://www.iii.u-tokyo.ac.jp/dissertation/2017-2">修士論文『SNSがもたらす政治コミュニケーションの変容可能性ー議員インタビュー調査から』</a>

	<p></p>

	<h4>Certification</h4>
  ネットワークスペシャリスト試験/Network Specialist Examination(2024/07)<br/>
  データベーススペシャリスト試験/Database Specialist Examination(2023/12)<br/>
	応用情報技術者試験/Applied Information Technology Engineer Examination(2023/06)<br/>
	基本情報技術者試験/Fundamental Information Technology Engineer Examination(2021/12)<br/>
	TOEIC: 850points(2015/05)<br/>
	TOEFL-iBT: 75points(2014/04)<br/>





</Layout>
